{% extends "life_logs/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Your Username and password didn't match. Please try agin.</p>
    {% endif %}

    <form method="post" action="{% url 'user:login' %}" >
        {% csrf_token %}
        {{ form }}
    
        <button name="submit">Log in</button>
        <input type="hidden" name="next" value="{% url 'life_logs:index' %}"/>
        {% comment %} <input type="hidden" name="next" value="{% templatetag openblock %}  extends  'life_logs:index'  {% templatetag closeblock %}"/> {% endcomment %}
        {% comment %} <input type="hidden" name="next" value=" {% extends 'life_logs:index' %}"> {% endcomment %}

    </form>

{% endblock %}