<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>
        <a href="{% url 'life_logs:index' %}"> Life Log</a> -
        <a href="{% url 'life_logs:events' %}">Events</a>
        {% if user.is_authenticated %}
            Hello, {{ user.username }}.
            <a href="{% url 'user:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'user:login' %}">Login</a>
        {% endif %}
    </p>
    {% block content  %}

    {% endblock  %}
</body>
</html>