{% extends "life_logs/base.html" %}

{% block content %}
    <p> Event: {{ event }} </p>
    <p> Entries:</p>
     <p>
        <a href="{% url 'life_logs:new_entry' event.id %}">Add new entry</a>
    </p>
    <ul>
        {% for entry in entries  %}
            <li>
                <p> {{ entry.date_added|date:'M d, Y H:i' }} </p>
                <p> {{ entry.text|linebreaks }} </p>
                <p> 
                    <a href="{% url 'life_logs:edit_entry' entry.id %}">edit entry</a>
                </p>
                {% comment %} This is using inline javascript. Best practice is to have it in another file. {% endcomment %}
                <p>
                    <a href="{% url 'life_logs:delete_entry' entry.id %}" onclick="return confirm('Are you sure?')">delete entry</a>
                </p>
                <br>
            </li>
        {%empty%}
            <li>
                <p>There are no entries for this Event yet.</p>
            </li>
        {% endfor %}
    </ul>

{% endblock content %}